.contenedor{
  background:#84BEEE;
}
.contenido{
  margin: 120px 60px 30.5px 60px;
  text-align: center;
  background:#EAD0F0;
  border-top: 20px solid purple;
  border-bottom: 20px solid purple;
  border-left: 10px solid purple;
  border-right: 10px solid purple;
  padding: 40px 20px 70px 100px;
}
